In [172]:
import pandas as pd
import pycountry
import numpy as np

In [45]:
data = pd.read_csv('ressources/time_series_covid19_confirmed_global_iso3_regions.csv')

In [46]:
data.drop(index=0, inplace=True)

In [47]:
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/7/23,3/8/23,3/9/23,ISO 3166-1 Alpha 3-Codes,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name
1,NaN,Afghanistan,33.93911,67.709953,0.0,0.0,0.0,0.0,0.0,0.0,...,209436.0,209451.0,209451.0,AFG,142,Asia,34,Southern Asia,NaN,NaN
2,NaN,Albania,41.1533,20.1683,0.0,0.0,0.0,0.0,0.0,0.0,...,334427.0,334443.0,334457.0,ALB,150,Europe,39,Southern Europe,NaN,NaN
3,NaN,Algeria,28.0339,1.6596,0.0,0.0,0.0,0.0,0.0,0.0,...,271490.0,271494.0,271496.0,DZA,2,Africa,15,Northern Africa,NaN,NaN
4,NaN,Andorra,42.5063,1.5218,0.0,0.0,0.0,0.0,0.0,0.0,...,47875.0,47890.0,47890.0,AND,150,Europe,39,Southern Europe,NaN,NaN
5,NaN,Angola,-11.2027,17.8739,0.0,0.0,0.0,0.0,0.0,0.0,...,105277.0,105288.0,105288.0,AGO,2,Africa,202,Sub-Saharan Africa,17,Middle Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,NaN,West Bank and Gaza,31.9522,35.2332,0.0,0.0,0.0,0.0,0.0,0.0,...,703228.0,703228.0,703228.0,PSE,142,Asia,145,Western Asia,NaN,NaN
286,NaN,Winter Olympics 2022,39.9042,116.4074,0.0,0.0,0.0,0.0,0.0,0.0,...,535.0,535.0,535.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,NaN,Yemen,15.552727,48.516388,0.0,0.0,0.0,0.0,0.0,0.0,...,11945.0,11945.0,11945.0,YEM,142,Asia,145,Western Asia,NaN,NaN
288,NaN,Zambia,-13.133897,27.849332,0.0,0.0,0.0,0.0,0.0,0.0,...,343135.0,343135.0,343135.0,ZMB,2,Africa,202,Sub-Saharan Africa,14,Eastern Africa
289,NaN,Zimbabwe,-19.015438,29.154857,0.0,0.0,0.0,0.0,0.0,0.0,...,264127.0,264276.0,264276.0,ZWE,2,Africa,202,Sub-Saharan Africa,14,Eastern Africa

In [48]:
data.set_index(['Country/Region','Region Name'], inplace=True)

In [49]:
data.columns[:3]

Index(['Province/State', 'Lat', 'Long'], dtype='object')

In [50]:
data.columns[-6:]

Index(['ISO 3166-1 Alpha 3-Codes', 'Region Code', 'Sub-region Code',
       'Sub-region Name', 'Intermediate Region Code',
       'Intermediate Region Name'],
      dtype='object')

In [51]:
data.drop(columns=data.columns[-6:], inplace=True)
data.drop(columns=data.columns[:3], inplace=True)

In [52]:
data.insert(0,"1/21/20",0.0)

In [53]:
data = data.groupby(['Country/Region', 'Region Name']).sum()

In [54]:
# Nbr de nouveau cas pas pays
covid19 = data.T.diff().fillna(0).T.reset_index().melt(id_vars=['Country/Region', 'Region Name'],var_name='Date', value_name='New Cases')
covid19

            Country/Region Region Name     Date  New Cases
0              Afghanistan        Asia  1/21/20        0.0
1                  Albania      Europe  1/21/20        0.0
2                  Algeria      Africa  1/21/20        0.0
3                  Andorra      Europe  1/21/20        0.0
4                   Angola      Africa  1/21/20        0.0
...                    ...         ...      ...        ...
228795             Vietnam        Asia   3/9/23        0.0
228796  West Bank and Gaza        Asia   3/9/23        0.0
228797               Yemen        Asia   3/9/23        0.0
228798              Zambia      Africa   3/9/23        0.0
228799            Zimbabwe      Africa   3/9/23        0.0

[228800 rows x 4 columns]

In [55]:
#new cases by date
newcases_date = covid19[['Date','New Cases']].groupby(['Date']).sum()
newcases_date.rename(columns={'New Cases':"New Cases by day"}, inplace=True)
newcases_date

         New Cases by day
Date
1/1/21           563692.0
1/1/22          1203137.0
1/1/23           314595.0
1/10/21          601539.0
1/10/22         3251715.0
...                   ...
9/8/21           637701.0
9/8/22           583960.0
9/9/20           285310.0
9/9/21           640145.0
9/9/22           525628.0

[1144 rows x 1 columns]

In [56]:
#Nombre de cas par Pays cumulé
data.reset_index().melt(id_vars=['Country/Region','Region Name'],var_name='Date', value_name='Cases by country')

            Country/Region Region Name     Date  Cases by country
0              Afghanistan        Asia  1/21/20               0.0
1                  Albania      Europe  1/21/20               0.0
2                  Algeria      Africa  1/21/20               0.0
3                  Andorra      Europe  1/21/20               0.0
4                   Angola      Africa  1/21/20               0.0
...                    ...         ...      ...               ...
228795             Vietnam        Asia   3/9/23        11526994.0
228796  West Bank and Gaza        Asia   3/9/23          703228.0
228797               Yemen        Asia   3/9/23           11945.0
228798              Zambia      Africa   3/9/23          343135.0
228799            Zimbabwe      Africa   3/9/23          264276.0

[228800 rows x 4 columns]

In [57]:
# Nombre de cas par continent cumulé
continent_cumsum = data.groupby(['Region Name']).sum().reset_index().melt(id_vars=['Region Name'],var_name='Date', value_name='Case by Region')
continent_cumsum

     Region Name     Date  Case by Region
0         Africa  1/21/20             0.0
1       Americas  1/21/20             0.0
2           Asia  1/21/20             0.0
3         Europe  1/21/20             0.0
4        Oceania  1/21/20             0.0
...          ...      ...             ...
5715      Africa   3/9/23      13059037.0
5716    Americas   3/9/23     191238459.0
5717        Asia   3/9/23     211418050.0
5718      Europe   3/9/23     246814428.0
5719     Oceania   3/9/23      14014081.0

[5720 rows x 3 columns]

In [58]:
# Nouveau cas par région
newcases_date_region = covid19[['Date','Region Name','New Cases']].groupby(['Region Name','Date']).sum()
newcases_date_region.reset_index(inplace=True)
newcases_date_region.rename(columns={'New Cases':"New Cases by region/day"}, inplace=True)
newcases_date_region

     Region Name     Date  New Cases by region/day
0         Africa   1/1/21                  27814.0
1         Africa   1/1/22                  40559.0
2         Africa   1/1/23                    514.0
3         Africa  1/10/21                  31638.0
4         Africa  1/10/22                  37673.0
...          ...      ...                      ...
5715     Oceania   9/8/21                   1992.0
5716     Oceania   9/8/22                   9461.0
5717     Oceania   9/9/20                     87.0
5718     Oceania   9/9/21                   2445.0
5719     Oceania   9/9/22                   2061.0

[5720 rows x 3 columns]

In [59]:
# Nombre de cas world cumulé
world_cumsum = data.T.sum(1).reset_index()
world_cumsum.columns = ['Date','Global Cases']
world_cumsum

         Date  Global Cases
0     1/21/20           0.0
1     1/22/20         557.0
2     1/23/20         657.0
3     1/24/20         944.0
4     1/25/20        1437.0
...       ...           ...
1139   3/5/23   675998807.0
1140   3/6/23   676056847.0
1141   3/7/23   676187284.0
1142   3/8/23   676366730.0
1143   3/9/23   676544055.0

[1144 rows x 2 columns]

In [60]:
covid19

            Country/Region Region Name     Date  New Cases
0              Afghanistan        Asia  1/21/20        0.0
1                  Albania      Europe  1/21/20        0.0
2                  Algeria      Africa  1/21/20        0.0
3                  Andorra      Europe  1/21/20        0.0
4                   Angola      Africa  1/21/20        0.0
...                    ...         ...      ...        ...
228795             Vietnam        Asia   3/9/23        0.0
228796  West Bank and Gaza        Asia   3/9/23        0.0
228797               Yemen        Asia   3/9/23        0.0
228798              Zambia      Africa   3/9/23        0.0
228799            Zimbabwe      Africa   3/9/23        0.0

[228800 rows x 4 columns]

In [61]:
covid19 = covid19.merge(world_cumsum, how='left',on='Date').merge(continent_cumsum, how='left', on=['Region Name','Date'])

In [62]:
covid19 = covid19.merge(newcases_date, how='left', on='Date').merge(newcases_date_region, how='left', on=['Region Name','Date'])

In [63]:
covid19

,Country/Region,Region Name,Date,New Cases,Global Cases,Case by Region,New Cases by day,New Cases by region/day
0,Afghanistan,Asia,1/21/20,0.0,0.0,0.0,0.0,0.0
1,Albania,Europe,1/21/20,0.0,0.0,0.0,0.0,0.0
2,Algeria,Africa,1/21/20,0.0,0.0,0.0,0.0,0.0
3,Andorra,Europe,1/21/20,0.0,0.0,0.0,0.0,0.0
4,Angola,Africa,1/21/20,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
228795,Vietnam,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228796,West Bank and Gaza,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228797,Yemen,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228798,Zambia,Africa,3/9/23,0.0,676544055.0,13059037.0,177325.0,451.0
228799,Zimbabwe,Africa,3/9/23,0.0,676544055.0,13059037.0,177325.0,451.0

In [64]:
covid19.to_csv('data/covid19_Looker_v2.csv', index=False)

In [65]:
covid19_fr = covid19[(covid19['Country/Region']=="France") & (covid19['Region Name']=="Europe")][['Date','New Cases']]

In [66]:
covid19_fr.insert(2,'Total Cases',covid19_fr['New Cases'].cumsum())

In [67]:
covid19_fr.to_csv('data/covid19_fr.csv', index=False)

In [68]:
vaccins = pd.read_csv('ressources/vaccin.csv')
vaccins.drop(columns=['Denominator','NumberDosesReceived',"NumberDosesExported","FirstDoseRefused","UnknownDose","Region","Population"], inplace=True)
vaccins

,YearWeekISO,ReportingCountry,FirstDose,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,DoseAdditional4,DoseAdditional5,TargetGroup,Vaccine
0,2021-W01,AT,0,0,0,0,0,0,0,Age50_59,MODBA.1
1,2022-W23,AT,14,12,12,5,0,0,0,Age18_24,NVXD
2,2021-W32,AT,0,0,0,0,0,0,0,Age10_14,MODBA.1
3,2021-W32,AT,0,0,0,0,0,0,0,Age15_17,MODBA.1
4,2021-W32,AT,0,0,0,0,0,0,0,Age18_24,MODBA.1
...,...,...,...,...,...,...,...,...,...,...,...
816548,2022-W37,SK,3,3,6,0,0,0,0,Age10_14,COM
816549,2022-W37,SK,42,52,216,758,0,0,0,ALL,COM
816550,2022-W36,SK,0,1,0,1,0,0,0,Age60_69,NVXD
816551,2022-W36,SK,2,0,2,2,1,0,0,Age50_59,NVXD
816552,2022-W36,SK,4,7,9,0,0,0,0,Age25_49,NVXD

In [69]:
vaccins[vaccins.ReportingCountry=='FR']

,YearWeekISO,ReportingCountry,FirstDose,SecondDose,DoseAdditional1,DoseAdditional2,DoseAdditional3,DoseAdditional4,DoseAdditional5,TargetGroup,Vaccine
494952,2021-W41,FR,96,61,3,0,0,0,0,Age70_79,UNK
494953,2021-W22,FR,2190,6115,0,0,0,0,0,Age80+,UNK
494954,2021-W22,FR,2004,3668,0,0,0,0,0,Age80+,UNK
494955,2021-W22,FR,4002,9191,0,0,0,0,0,Age80+,UNK
494956,2021-W22,FR,15,31,0,0,0,0,0,Age80+,UNK
...,...,...,...,...,...,...,...,...,...,...,...
517690,2020-W53,FR,86,0,0,0,0,0,0,ALL,UNK
517691,2020-W53,FR,196,2,0,0,0,0,0,ALL,UNK
517692,2020-W53,FR,17,0,0,0,0,0,0,Age<18,UNK
517693,2021-W27,FR,0,0,0,0,0,0,0,ALL,MODBA.4-5
517694,2021-W27,FR,184348,329532,0,0,0,0,0,Age18_24,UNK

In [70]:
col_DoseAdditional = ['DoseAdditional1','DoseAdditional2','DoseAdditional3','DoseAdditional4','DoseAdditional5']
DoseAdditional = vaccins[col_DoseAdditional].sum(axis=1)
vaccins.insert(4,"DoseAdditional",DoseAdditional)
vaccins.drop(columns=col_DoseAdditional, inplace=True)

In [71]:
vaccins.insert(0,"Date",pd.to_datetime(vaccins.YearWeekISO+"-1", format='%Y-W%U-%w'))
vaccins.drop(columns='YearWeekISO', inplace=True)

In [72]:
vaccins

,Date,ReportingCountry,FirstDose,SecondDose,DoseAdditional,TargetGroup,Vaccine
0,2021-01-04,AT,0,0,0,Age50_59,MODBA.1
1,2022-06-06,AT,14,12,17,Age18_24,NVXD
2,2021-08-09,AT,0,0,0,Age10_14,MODBA.1
3,2021-08-09,AT,0,0,0,Age15_17,MODBA.1
4,2021-08-09,AT,0,0,0,Age18_24,MODBA.1
...,...,...,...,...,...,...,...
816548,2022-09-12,SK,3,3,6,Age10_14,COM
816549,2022-09-12,SK,42,52,974,ALL,COM
816550,2022-09-05,SK,0,1,1,Age60_69,NVXD
816551,2022-09-05,SK,2,0,5,Age50_59,NVXD
816552,2022-09-05,SK,4,7,9,Age25_49,NVXD

In [73]:
vaccins_fr = vaccins[vaccins.ReportingCountry=='FR'].drop(columns='ReportingCountry')

In [74]:
vaccins_fr = vaccins_fr.melt(id_vars=['Date','TargetGroup','Vaccine'], var_name='Doses', value_name='Count')

In [75]:
vaccins_fr

            Date TargetGroup    Vaccine           Doses  Count
0     2021-10-11    Age70_79        UNK       FirstDose     96
1     2021-05-31      Age80+        UNK       FirstDose   2190
2     2021-05-31      Age80+        UNK       FirstDose   2004
3     2021-05-31      Age80+        UNK       FirstDose   4002
4     2021-05-31      Age80+        UNK       FirstDose     15
...          ...         ...        ...             ...    ...
68224 2021-01-04         ALL        UNK  DoseAdditional      0
68225 2021-01-04         ALL        UNK  DoseAdditional      0
68226 2021-01-04      Age<18        UNK  DoseAdditional      0
68227 2021-07-05         ALL  MODBA.4-5  DoseAdditional      0
68228 2021-07-05    Age18_24        UNK  DoseAdditional      0

[68229 rows x 5 columns]

In [76]:
vaccins_fr.to_csv("data/vaccins_fr.csv", index=False)

In [77]:
Name = vaccins.ReportingCountry.apply(lambda alpha2 : pycountry.countries.get(alpha_2=alpha2).name if pycountry.countries.get(alpha_2=alpha2) else 'Greece')

In [78]:
Name.isna().sum()

0

In [79]:
vaccins.insert(1,'Country/Region',Name.values)

In [80]:
vaccins.drop(columns='ReportingCountry', inplace=True)

In [81]:
vaccins_eu = vaccins.melt(id_vars=['Date','Country/Region',"TargetGroup","Vaccine"], var_name='Doses', value_name='Count')

In [82]:
vaccins_eu[vaccins_eu.TargetGroup =='ALL'].drop(columns='TargetGroup')

              Date Country/Region    Vaccine           Doses  Count
32      2021-02-08        Austria      JANSS       FirstDose      0
41      2021-02-08        Austria        MOD       FirstDose   4065
45      2021-02-08        Austria    MODBA.1       FirstDose      1
53      2021-07-05        Austria  COMBA.4-5       FirstDose      0
68      2022-05-02        Austria        UNK       FirstDose      0
...            ...            ...        ...             ...    ...
2449622 2023-01-30       Slovakia      JANSS  DoseAdditional      1
2449629 2022-09-19       Slovakia        COM  DoseAdditional   2443
2449634 2022-09-12       Slovakia       NVXD  DoseAdditional      8
2449644 2022-09-12       Slovakia      JANSS  DoseAdditional     13
2449655 2022-09-12       Slovakia        COM  DoseAdditional    974

[265989 rows x 5 columns]

In [83]:
vaccins_eu[vaccins_eu.TargetGroup =='ALL'].drop(columns='TargetGroup').to_csv("data/vaccins_eu.csv", index=False)

In [89]:
first_dose_eu = vaccins_eu[(vaccins_eu.TargetGroup =='ALL') & (vaccins_eu.Doses == 'FirstDose')].drop(columns='TargetGroup')[['Date','Count']].groupby("Date").sum()

In [90]:
first_dose_eu

              Count
Date
2020-12-14        2
2020-12-21        9
2020-12-28    77048
2021-01-04  3924221
2021-01-11  4371714
...             ...
2023-10-16    27854
2023-10-23     8340
2023-10-30     5896
2023-11-06     4281
2023-11-13     2715

[153 rows x 1 columns]

In [94]:
new_case_eu = covid19[covid19['Region Name']=='Europe'][['Date','New Cases']].groupby("Date").sum()

In [97]:
new_case_eu

         New Cases
Date
1/1/21    212282.0
1/1/22    716152.0
1/1/23      9372.0
1/10/21   199702.0
1/10/22  1085087.0
...            ...
9/8/21    127393.0
9/8/22    193655.0
9/9/20     39151.0
9/9/21    143723.0
9/9/22    157044.0

[1144 rows x 1 columns]

In [104]:
new_case_eu.index = pd.to_datetime(new_case_eu.index, format='%m/%d/%y')

AttributeError: 'DatetimeIndex' object has no attribute 'sort_index'

In [157]:
merge_New_Vaccins = new_case_eu.sort_index().cumsum().merge(first_dose_eu.cumsum(),how='left', left_index=True, right_index=True)

In [158]:
merge_New_Vaccins.reset_index()

           Date    New Cases        Count
0    2020-01-21          0.0          NaN
1    2020-01-22          0.0          NaN
2    2020-01-23          0.0          NaN
3    2020-01-24          2.0          NaN
4    2020-01-25          3.0          NaN
...         ...          ...          ...
1139 2023-03-05  246585327.0          NaN
1140 2023-03-06  246615532.0  472371169.0
1141 2023-03-07  246673695.0          NaN
1142 2023-03-08  246734062.0          NaN
1143 2023-03-09  246814428.0          NaN

[1144 rows x 3 columns]

In [159]:
for i in range(328,1144,7):
    merge_New_Vaccins.iloc[i:i+7,1] = merge_New_Vaccins.iloc[i,1]

In [175]:
merge_New_Vaccins[['Count']].diff().fillna("NAN").replace(0.0, np.nan).interpolate()

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [177]:
merge_New_Vaccins.reset_index()

           Date    New Cases        Count
0    2020-01-21          0.0          NaN
1    2020-01-22          0.0          NaN
2    2020-01-23          0.0          NaN
3    2020-01-24          2.0          NaN
4    2020-01-25          3.0          NaN
...         ...          ...          ...
1139 2023-03-05  246585327.0  472365880.0
1140 2023-03-06  246615532.0  472371169.0
1141 2023-03-07  246673695.0  472371169.0
1142 2023-03-08  246734062.0  472371169.0
1143 2023-03-09  246814428.0  472371169.0

[1144 rows x 3 columns]

In [193]:
merge_New_Vaccins.diff().iloc[:328,:].fillna(0)

            New Cases  Count
Date
2020-01-21        0.0    0.0
2020-01-22        0.0    0.0
2020-01-23        0.0    0.0
2020-01-24        2.0    0.0
2020-01-25        1.0    0.0
...               ...    ...
2020-12-09   212945.0    0.0
2020-12-10   229816.0    0.0
2020-12-11   236193.0    0.0
2020-12-12   211241.0    0.0
2020-12-13   173981.0    0.0

[328 rows x 2 columns]

In [192]:
merge_New_Vaccins.diff().iloc[328:,:].replace(0, np.nan).interpolate().fillna(0)

            New Cases        Count
Date
2020-12-14   165910.0     0.000000
2020-12-15   201419.0     0.000000
2020-12-16   241604.0     0.000000
2020-12-17   253844.0     0.000000
2020-12-18   249391.0     0.000000
...               ...          ...
2023-03-05    19140.0  5409.142857
2023-03-06    30205.0  5289.000000
2023-03-07    58163.0  5289.000000
2023-03-08    60367.0  5289.000000
2023-03-09    80366.0  5289.000000

[816 rows x 2 columns]

In [195]:
New_Case_Vaccins = pd.concat([
    merge_New_Vaccins.diff().iloc[:328,:].fillna(0),
    merge_New_Vaccins.diff().iloc[328:,:].replace(0, np.nan).interpolate().fillna(0)
    ],
    axis=0
)

In [196]:
New_Case_Vaccins.columns = ["new_cases","new_vaccins"]

In [198]:
New_Case_Vaccins.to_csv('Data/NewCases_And_NewVaccins.csv')