In [17]:
import pandas as pd

In [121]:
data = pd.read_csv('ressources/time_series_covid19_confirmed_global_iso3_regions.csv')

In [122]:
data.drop(index=0, inplace=True)

In [123]:
data.set_index(['Country/Region','Region Name'], inplace=True)

In [124]:
data.columns[:3]

Index(['Province/State', 'Lat', 'Long'], dtype='object')

In [125]:
data.columns[-6:]

Index(['ISO 3166-1 Alpha 3-Codes', 'Region Code', 'Sub-region Code',
       'Sub-region Name', 'Intermediate Region Code',
       'Intermediate Region Name'],
      dtype='object')

In [126]:
data.drop(columns=data.columns[-6:], inplace=True)
data.drop(columns=data.columns[:3], inplace=True)

In [127]:
data.insert(0,"1/21/20",0.0)

In [129]:
data = data.groupby(['Country/Region', 'Region Name']).sum()

In [153]:
data

,,1/21/20,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,Region Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,209322.0,209340.0,209358.0,209362.0,209369.0,209390.0,209406.0,209436.0,209451.0,209451.0
Albania,Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334391.0,334408.0,334408.0,334427.0,334427.0,334427.0,334427.0,334427.0,334443.0,334457.0
Algeria,Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,271441.0,271448.0,271463.0,271469.0,271469.0,271477.0,271477.0,271490.0,271494.0,271496.0
Andorra,Europe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,47866.0,47875.0,47875.0,47875.0,47875.0,47875.0,47875.0,47875.0,47890.0,47890.0
Angola,Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,105255.0,105277.0,105277.0,105277.0,105277.0,105277.0,105277.0,105277.0,105288.0,105288.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Asia,0.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,11526917.0,11526926.0,11526937.0,11526950.0,11526962.0,11526966.0,11526966.0,11526986.0,11526994.0,11526994.0
West Bank and Gaza,Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,703228.0,703228.0,703228.0,703228.0,703228.0,703228.0,703228.0,703228.0,703228.0,703228.0
Yemen,Asia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0
Zambia,Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,343012.0,343012.0,343079.0,343079.0,343079.0,343135.0,343135.0,343135.0,343135.0,343135.0
Zimbabwe,Africa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,263921.0,264127.0,264127.0,264127.0,264127.0,264127.0,264127.0,264127.0,264276.0,264276.0

In [160]:
# Nbr de nouveau cas pas pays
covid19 = data.T.diff().fillna(0).T.reset_index().melt(id_vars=['Country/Region', 'Region Name'],var_name='Date', value_name='New Cases')
covid19

            Country/Region Region Name     Date  New Cases
0              Afghanistan        Asia  1/21/20        0.0
1                  Albania      Europe  1/21/20        0.0
2                  Algeria      Africa  1/21/20        0.0
3                  Andorra      Europe  1/21/20        0.0
4                   Angola      Africa  1/21/20        0.0
...                    ...         ...      ...        ...
228795             Vietnam        Asia   3/9/23        0.0
228796  West Bank and Gaza        Asia   3/9/23        0.0
228797               Yemen        Asia   3/9/23        0.0
228798              Zambia      Africa   3/9/23        0.0
228799            Zimbabwe      Africa   3/9/23        0.0

[228800 rows x 4 columns]

In [176]:
#new cases by date
newcases_date = covid19[['Date','New Cases']].groupby(['Date']).sum()
newcases_date.rename(columns={'New Cases':"New Cases by day"}, inplace=True)
newcases_date

         New Cases by day
Date
1/1/21           563692.0
1/1/22          1203137.0
1/1/23           314595.0
1/10/21          601539.0
1/10/22         3251715.0
...                   ...
9/8/21           637701.0
9/8/22           583960.0
9/9/20           285310.0
9/9/21           640145.0
9/9/22           525628.0

[1144 rows x 1 columns]

In [161]:
#Nombre de cas par Pays cumulé
data.reset_index().melt(id_vars=['Country/Region','Region Name'],var_name='Date', value_name='Cases by country')

            Country/Region Region Name     Date  Cases by country
0              Afghanistan        Asia  1/21/20               0.0
1                  Albania      Europe  1/21/20               0.0
2                  Algeria      Africa  1/21/20               0.0
3                  Andorra      Europe  1/21/20               0.0
4                   Angola      Africa  1/21/20               0.0
...                    ...         ...      ...               ...
228795             Vietnam        Asia   3/9/23        11526994.0
228796  West Bank and Gaza        Asia   3/9/23          703228.0
228797               Yemen        Asia   3/9/23           11945.0
228798              Zambia      Africa   3/9/23          343135.0
228799            Zimbabwe      Africa   3/9/23          264276.0

[228800 rows x 4 columns]

In [162]:
# Nombre de cas par continent cumulé
continent_cumsum = data.groupby(['Region Name']).sum().reset_index().melt(id_vars=['Region Name'],var_name='Date', value_name='Case by Region')
continent_cumsum

     Region Name     Date  Case by Region
0         Africa  1/21/20             0.0
1       Americas  1/21/20             0.0
2           Asia  1/21/20             0.0
3         Europe  1/21/20             0.0
4        Oceania  1/21/20             0.0
...          ...      ...             ...
5715      Africa   3/9/23      13059037.0
5716    Americas   3/9/23     191238459.0
5717        Asia   3/9/23     211418050.0
5718      Europe   3/9/23     246814428.0
5719     Oceania   3/9/23      14014081.0

[5720 rows x 3 columns]

In [190]:
# Nouveau cas par région
newcases_date_region = covid19[['Date','Region Name','New Cases']].groupby(['Region Name','Date']).sum()
newcases_date_region.reset_index(inplace=True)
newcases_date_region.rename(columns={'New Cases':"New Cases by region/day"}, inplace=True)
newcases_date_region

     Region Name     Date  New Cases by region/day
0         Africa   1/1/21                  27814.0
1         Africa   1/1/22                  40559.0
2         Africa   1/1/23                    514.0
3         Africa  1/10/21                  31638.0
4         Africa  1/10/22                  37673.0
...          ...      ...                      ...
5715     Oceania   9/8/21                   1992.0
5716     Oceania   9/8/22                   9461.0
5717     Oceania   9/9/20                     87.0
5718     Oceania   9/9/21                   2445.0
5719     Oceania   9/9/22                   2061.0

[5720 rows x 3 columns]

In [163]:
# Nombre de cas world cumulé
world_cumsum = data.T.sum(1).reset_index()
world_cumsum.columns = ['Date','Global Cases']
world_cumsum

         Date  Global Cases
0     1/21/20           0.0
1     1/22/20         557.0
2     1/23/20         657.0
3     1/24/20         944.0
4     1/25/20        1437.0
...       ...           ...
1139   3/5/23   675998807.0
1140   3/6/23   676056847.0
1141   3/7/23   676187284.0
1142   3/8/23   676366730.0
1143   3/9/23   676544055.0

[1144 rows x 2 columns]

In [164]:
covid19

            Country/Region Region Name     Date  New Cases
0              Afghanistan        Asia  1/21/20        0.0
1                  Albania      Europe  1/21/20        0.0
2                  Algeria      Africa  1/21/20        0.0
3                  Andorra      Europe  1/21/20        0.0
4                   Angola      Africa  1/21/20        0.0
...                    ...         ...      ...        ...
228795             Vietnam        Asia   3/9/23        0.0
228796  West Bank and Gaza        Asia   3/9/23        0.0
228797               Yemen        Asia   3/9/23        0.0
228798              Zambia      Africa   3/9/23        0.0
228799            Zimbabwe      Africa   3/9/23        0.0

[228800 rows x 4 columns]

In [165]:
covid19 = covid19.merge(world_cumsum, how='left',on='Date').merge(continent_cumsum, how='left', on=['Region Name','Date'])

In [192]:
covid19 = covid19.merge(newcases_date, how='left', on='Date').merge(newcases_date_region, how='left', on=['Region Name','Date'])

In [193]:
covid19

,Country/Region,Region Name,Date,New Cases,Global Cases,Case by Region,New Cases by day,New Cases by region/day
0,Afghanistan,Asia,1/21/20,0.0,0.0,0.0,0.0,0.0
1,Albania,Europe,1/21/20,0.0,0.0,0.0,0.0,0.0
2,Algeria,Africa,1/21/20,0.0,0.0,0.0,0.0,0.0
3,Andorra,Europe,1/21/20,0.0,0.0,0.0,0.0,0.0
4,Angola,Africa,1/21/20,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
228795,Vietnam,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228796,West Bank and Gaza,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228797,Yemen,Asia,3/9/23,0.0,676544055.0,211418050.0,177325.0,23308.0
228798,Zambia,Africa,3/9/23,0.0,676544055.0,13059037.0,177325.0,451.0
228799,Zimbabwe,Africa,3/9/23,0.0,676544055.0,13059037.0,177325.0,451.0

In [195]:
covid19.to_csv('data/covid19_Looker_v2.csv', index=False)

In [199]:
covid19_fr = covid19[(covid19['Country/Region']=="France") & (covid19['Region Name']=="Europe")][['Date','New Cases']]

In [204]:
covid19_fr.insert(2,'Total Cases',covid19_fr['New Cases'].cumsum())

In [206]:
covid19_fr.to_csv('data/covid19_fr.csv', index=False)