In [1]:
import pandas as pd
import plotly.express as px
import json

In [2]:
data = pd.read_csv('data/time_series_covid19_confirmed_global_iso3_regions.csv')

In [3]:
data.drop(index=0, inplace=True)

In [4]:
data.columns[:4]

Index(['Province/State', 'Country/Region', 'Lat', 'Long'], dtype='object')

In [5]:
data.columns[-7:]

Index(['ISO 3166-1 Alpha 3-Codes', 'Region Code', 'Region Name',
       'Sub-region Code', 'Sub-region Name', 'Intermediate Region Code',
       'Intermediate Region Name'],
      dtype='object')

In [6]:
regions = data.drop(columns=data.columns[:4]).drop(columns=['ISO 3166-1 Alpha 3-Codes', 'Region Code','Sub-region Code', 'Sub-region Name', 'Intermediate Region Code','Intermediate Region Name']).groupby('Region Name').sum().T

In [7]:
regions.columns.name=None

In [8]:
regions.index = pd.to_datetime(regions.index, format='%m/%d/%y')

In [9]:
regions

                Africa     Americas         Asia       Europe     Oceania
2020-01-22         0.0          1.0        556.0          0.0         0.0
2020-01-23         0.0          3.0        654.0          0.0         0.0
2020-01-24         0.0          5.0        937.0          2.0         0.0
2020-01-25         0.0          5.0       1429.0          3.0         0.0
2020-01-26         0.0          8.0       2105.0          3.0         4.0
...                ...          ...          ...          ...         ...
2023-03-05  13055369.0  191044835.0  211313286.0  246585327.0  13999990.0
2023-03-06  13056372.0  191053527.0  211331424.0  246615532.0  13999992.0
2023-03-07  13056975.0  191097450.0  211359172.0  246673695.0  13999992.0
2023-03-08  13058586.0  191179187.0  211394742.0  246734062.0  14000153.0
2023-03-09  13059037.0  191238459.0  211418050.0  246814428.0  14014081.0

[1143 rows x 5 columns]

In [ ]:
px.line(regions.diff().applymap(lambda x : max(0,x)), y=regions.columns, height=800)

In [11]:
countries = data.set_index(['ISO 3166-1 Alpha 3-Codes',"Country/Region"]).drop(columns=['Province/State','Lat', 'Long']).drop(columns=['Region Name', 'Region Code','Sub-region Code', 'Sub-region Name', 'Intermediate Region Code','Intermediate Region Name']).T

In [12]:
countries.index = pd.to_datetime(countries.index, format='%m/%d/%y')

In [13]:
countries

ISO 3166-1 Alpha 3-Codes,AFG,ALB,DZA,AND,AGO,ATA,ATG,ARG,ARM,AUS,...,URY,UZB,VUT,VEN,VNM,PSE,NaN,YEM,ZMB,ZWE
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-05,209390.0,334427.0,271477.0,47875.0,105277.0,11.0,9106.0,10044125.0,446819.0,232619.0,...,1034303.0,251071.0,12014.0,552051.0,11526966.0,703228.0,535.0,11945.0,343135.0,264127.0
2023-03-06,209406.0,334427.0,271477.0,47875.0,105277.0,11.0,9106.0,10044957.0,446819.0,232619.0,...,1034303.0,251071.0,12014.0,552125.0,11526966.0,703228.0,535.0,11945.0,343135.0,264127.0
2023-03-07,209436.0,334427.0,271490.0,47875.0,105277.0,11.0,9106.0,10044957.0,446819.0,232619.0,...,1034303.0,251071.0,12014.0,552157.0,11526986.0,703228.0,535.0,11945.0,343135.0,264127.0
2023-03-08,209451.0,334443.0,271494.0,47890.0,105288.0,11.0,9106.0,10044957.0,447308.0,232619.0,...,1034303.0,251247.0,12014.0,552157.0,11526994.0,703228.0,535.0,11945.0,343135.0,264276.0
2023-03-09,209451.0,334457.0,271496.0,47890.0,105288.0,11.0,9106.0,10044957.0,447308.0,232974.0,...,1034303.0,251247.0,12014.0,552162.0,11526994.0,703228.0,535.0,11945.0,343135.0,264276.0

In [14]:
countries = countries.resample('Q').sum().reset_index().melt(id_vars=['index'])

/var/folders/3v/836xbswd3z1f339m_2k6w7b80000gn/T/ipykernel_11771/2472402555.py:1: PerformanceWarning:

indexing past lexsort depth may impact performance.

/var/folders/3v/836xbswd3z1f339m_2k6w7b80000gn/T/ipykernel_11771/2472402555.py:1: PerformanceWarning:

indexing past lexsort depth may impact performance.

In [15]:
countries

          index ISO 3166-1 Alpha 3-Codes Country/Region       value
0    2020-03-31                      AFG    Afghanistan      1171.0
1    2020-06-30                      AFG    Afghanistan    999557.0
2    2020-09-30                      AFG    Afghanistan   3410912.0
3    2020-12-31                      AFG    Afghanistan   4090111.0
4    2021-03-31                      AFG    Afghanistan   4961429.0
...         ...                      ...            ...         ...
3752 2022-03-31                      ZWE       Zimbabwe  20994290.0
3753 2022-06-30                      ZWE       Zimbabwe  22790708.0
3754 2022-09-30                      ZWE       Zimbabwe  23601948.0
3755 2022-12-31                      ZWE       Zimbabwe  23775978.0
3756 2023-03-31                      ZWE       Zimbabwe  17820642.0

[3757 rows x 4 columns]

In [16]:
countries.columns = ['Date','ISO_A3','Country/Region','Cases']

In [17]:
countries

           Date ISO_A3 Country/Region       Cases
0    2020-03-31    AFG    Afghanistan      1171.0
1    2020-06-30    AFG    Afghanistan    999557.0
2    2020-09-30    AFG    Afghanistan   3410912.0
3    2020-12-31    AFG    Afghanistan   4090111.0
4    2021-03-31    AFG    Afghanistan   4961429.0
...         ...    ...            ...         ...
3752 2022-03-31    ZWE       Zimbabwe  20994290.0
3753 2022-06-30    ZWE       Zimbabwe  22790708.0
3754 2022-09-30    ZWE       Zimbabwe  23601948.0
3755 2022-12-31    ZWE       Zimbabwe  23775978.0
3756 2023-03-31    ZWE       Zimbabwe  17820642.0

[3757 rows x 4 columns]

In [18]:
GeoJson = json.load(open("data/countries.geojson", "r"))

In [19]:
fig = px.choropleth_mapbox(
    countries,
    geojson=GeoJson,
    locations='ISO_A3',
    color='Cases',
    featureidkey="properties.ISO_A3",
    zoom=1,
    mapbox_style="open-street-map",
    width=1600,
    height=900,
    opacity=0.5,
    animation_frame='Date',
    color_continuous_scale="amp",
    range_color=(0,3000000000)
    
)

In [20]:
fig.write_html('Maps_20_23.html')