In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/finalSentimentdata2.csv")
df.head()

   Unnamed: 0 sentiment                                               text
0        3204       sad  agree the poor in india are treated badly thei...
1        1431       joy  if only i could have spent the with this cutie...
2         654       joy  will nature conservation remain a priority in ...
3        2530       sad  coronavirus disappearing in italy show this to...
4        2296       sad  uk records lowest daily virus death toll since...

In [3]:
df["sentiment"].value_counts()

sentiment
fear     801
sad      795
anger    767
joy      727
Name: count, dtype: int64